[MAIN]
# Configuración para evitar el error "line-too-long" (C0301)
# El estándar es 100, pero aquí le damos 180 para líneas más largas.
max-line-length=580

# Lista de mensajes para ignorar siempre
disable=C0114, C0301, C0303, C0321

[DESIGN]
# Configuración para permitir archivos gigantes "too-many-lines" (C0302)
max-module-lines=2500